body {
	background-image: url(../images/bgtile.png);
}

.brand {
	float: right;
	margin-top: 400px;

}

.leia {
	background-image: url(../images/frame.png);
	background-repeat: repeat-y;
	background-size: cover;
	margin-left: 200px;
}

.han {

	
}

.han p {

	padding: 40px;


}

.luke {
	margin-right: 100px;
	padding: 40px;

}

ul {
	display: inline;
}

li {
	float: left;
	padding: 30px;
}