

#content {
	
}

#background {
	width: 100%;
	height: 250px;
	background-repeat: repeat-x;
	background-size: cover;
	background-image: url(../images/bgtile.png);
	position: absolute;
}

.brand {
	position: relative;
	float: right;
	margin: 100px 100px 0 0;

}

#login {
	color: grey;
	background-color: blue;
	margin: 30px 30px;
	float: right;
}


.bottom{
	float: right;
	background-image: url(../images/frame.png);
	background-repeat: repeat-y;
	background-size: cover;
	width: 500px;
	margin-right: 100px;
	position: relative;
	
}

.phone {
	float: left;
	margin-left: 200px;
	position: relative;
	margin-top: 100px ;
}

.luke {
	margin-right: 80px;
	padding-left: 30px;
	color: rgb(2, 5, 207);
	
}

.leia {
	padding-left: 30px;
}

.android {
	margin-top: 60px;
	padding-left: 30px;
}

footer {
	position: relative;
	clear: both;
	display: block;
	
}

.list li {
	display: inline;
	position: relative;
	margin: 30px;
}