

#content {
	
}

#background {
	width: 100%;
	height: 250px;
	background-repeat: repeat-x;
	background-size: cover;
	background-image: url(../images/bgtile.png);
}

.brand {
	float:right;
}


.bottom{
	float: right;
	background-image: url(../images/frame.png);
	background-repeat: repeat-y;
	background-size: cover;
	width: 500px;
	margin-right: 100px;

}

.phone {
	float: left;
	margin-left: 100px;


}

.luke {
	margin-right: 80px;
	
}

footer {
	position: relative;
	clear: both;
	display: block;
	
}